<section style="background: linear-gradient(100.84deg, #FFFFFF 15.33%, #CF9FFF 80%); padding-bottom: 50px;">
  <div class="navbar transparent navbar-expand-sm navbar-light navbar-lewagon" style="background: linear-gradient(100.84deg, #FFFFFF 15.33%, #CF9FFF 100%)">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="https://static.vecteezy.com/system/resources/previews/025/750/706/original/north-star-compass-logo-compass-icon-modern-star-symbol-vector.jpg" />
</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Celebrities</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Dashboard</a>
          </li>
          <li class="nav-item dropdown">
            <img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true" src="https://media.licdn.com/dms/image/C4E03AQFMbo-M3a16Ig/profile-displayphoto-shrink_800_800/0/1639432747995?e=2147483647&v=beta&t=tu97UuRHe28wOR119KNKzWVa4JcBsBvXR4-3A3o9wdY" />
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Dashboard</a>
              <a class="dropdown-item" data-turbo-method="delete" href="#">Log out</a>
            </div>
          </li>
          <li class="nav-item">
          </li>
      </ul>
    </div>
  </div>
</div>
  <div class="container-fluid d-flex flex-column justify-content-center align-items-center mt-5">
<h1><strong> CELEBRITIES </strong></h1>
 <style>
        .container-fluid h1 {
            font-size: 50px  ;
        }
</style>

<div>
  <div class="container-fluid d-flex flex-column justify-content-center align-items-center">
    <div class="d-flex justify-content-center align-items-start w-100">
      <div class="col-12 col-md-6 mb-5 me-5" style="margin-top: 100px;">
        <div class="text-center">
          <h2 class="fs-1 mb-2"><strong>Book</strong> your favorite celebrity, dead or alive.</h2>
          <h2 class="fs-1 mb-2"><strong>Browse</strong> our latest <strong>celebrity clones.</strong></h2>
          <p class="fs-17 text-muted mb-3">Our latest technology makes the impossible possible. DNA is no longer a barrier. Book a day with our celebrities to check it out for yourself!</p>
          <button class="btn btn-outline-primary rounded-5 btn-lg" type="button">
            <span class="fs-5 fw-bold">Book Now</span>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="container mt-5">
    <div class="row row-cols-1 row-cols-md-2 g-4">
      <div class="col">
        <div class="card" style="border-radius: 15px; overflow: hidden;">
          <img src="https://cache.cosmopolitan.fr/data/photo/w1200_h630_ci/66/rihanna.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"><strong>Rihanna</strong></h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
       <div class="col">
        <div class="card" style="border-radius: 15px; overflow: hidden;">
          <img src="https://media.ouest-france.fr/v1/pictures/MjAyNDAyYjFmMGI3OTUyNDA1NTk1MTBkM2YxZGI1NTc4MDJlNjk?width=1260&height=708&focuspoint=48%2C42&cropresize=1&client_id=bpeditorial&sign=5c19a0be6c5985b3ab4fe4a344a644ffcb8a3ec382eed24e53fb2a433bee5f6c" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"><strong>Lewis Hamilton</strong></h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="border-radius: 15px; overflow: hidden;">
          <img src="https://i0.wp.com/www.heyuguys.com/images/2017/01/Peter-Dinklage.jpg?fit=2400%2C1200&ssl=1" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"><strong>Peter Dinklage</strong></h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="border-radius: 15px; overflow: hidden;">
          <img src="https://esq.h-cdn.co/assets/16/09/1600x800/landscape-1457047366-morgan-lead.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"><strong>Morgan Freeman</strong></h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container mt-5">
    <div class="row row-cols-1 row-cols-md-2 g-4">
      <div class="col">
        <div class="card" style="border-radius: 15px; overflow: hidden;">
          <img src="https://www.terazmuzyka.pl/wp-content/uploads/news/ja/jacksparrow_1057.jpeg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"><strong>Jack Sparrow</strong></h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
       <div class="col">
    <div class="card" style="border-radius: 15px; overflow: hidden;">
        <img src="https://www.usatoday.com/gcdn/-mm-/c901e8f865a8e3027a9751d247549dd712aa1ec1/c=0-355-2400-1711/local/-/media/2015/06/01/USATODAY/USATODAY/635687568841887218-XXX-American-Masters--Marilyn-Monroe-American-Masters--Marilyn-.jpg" class="card-img-top" alt="..." style="border-top-left-radius: 15px; border-top-right-radius: 15px;">
        <div class="card-body">
            <h5 class="card-title"><strong>Marylin Monroe</strong></h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
    </div>
</div>

      <div class="col">
        <div class="card" style="border-radius: 15px; overflow: hidden;">
          <img src="https://hips.hearstapps.com/hmg-prod/images/kendall-jenner-attends-the-2023-academy-museum-gala-at-news-photo-1701721154.jpg?crop=1xw:0.375xh;center,top" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"><strong>Kendall Jenner</strong></h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="border-radius: 15px; overflow: hidden;">
          <img src="https://www.thetimes.co.uk/imageserver/image/%2Fmethode%2Fsundaytimes%2Fprod%2Fweb%2Fbin%2Fc1e06da4-0060-11ee-91d8-175820cfdf88.jpg?crop=1600%2C900%2C0%2C0&resize=1200" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"><strong>Dua Lipa</strong></h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<button class="btn btn-outline-primary rounded-5 btn-lg" style="margin-top: 50px" type="button">
        <span class="fs-5 fw-bold">Create Your Own Celebrity Clone</span>
  </button>

     </section>

<div class="cards">
  <% @celebrities.each do |celebrity| %>
  <div class="card">
  </div>
  <% end %>
</div>
</div>
