<section style="background: linear-gradient(100.84deg, #FFFFFF 15.33%, #CF9FFF 80%); padding-bottom: 50px;">
  <div class="navbar transparent navbar-expand-sm navbar-light navbar-lewagon" style="background: linear-gradient(100.84deg, #FFFFFF 15.33%, #CF9FFF 100%)">
  <div class="container-fluid">
    <a class="navbar-brand" href="/root">
      <img src="https://static.vecteezy.com/system/resources/previews/025/750/706/original/north-star-compass-logo-compass-icon-modern-star-symbol-vector.jpg" />
</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/celebrities">Celebrities</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Dashboard</a>
          </li>
          <li class="nav-item dropdown">
            <img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true" src="https://media.licdn.com/dms/image/C4E03AQFMbo-M3a16Ig/profile-displayphoto-shrink_800_800/0/1639432747995?e=2147483647&v=beta&t=tu97UuRHe28wOR119KNKzWVa4JcBsBvXR4-3A3o9wdY" />
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Dashboard</a>
              <a class="dropdown-item" data-turbo-method="delete" href="#">Log out</a>
            </div>
          </li>
          <li class="nav-item">
          </li>
      </ul>
    </div>
  </div>
</div>
  <div class="container-fluid d-flex flex-column justify-content-center align-items-center mt-5">
<h1><strong> RENTASTAR </strong></h1>
<style>
        .container-fluid h1 {
            font-size: 50px  ;
        }
</style>
<div>
  <div class="container-fluid d-flex flex-column justify-content-center align-items-center mt-5">
    <div class="d-flex justify-content-center align-items-start w-100">
      <div class="col-12 col-md-5 mb-4 me-4" style="margin-top: 100px;">
        <div class="text-center">
          <h2 class="fs-1 mb-2"><strong>Future</strong> is now.</h2>
          <h2 class="fs-1 mb-2">Get ready to have the <strong>experience of a lifetime!</strong></h2>
          <p class="fs-17 text-muted mb-3">Our latest technology makes the impossible possible. DNA is no longer a barrier. Book a day with our celebrities to check it out for yourself!</p>
          <a href="/celebrities/new" class="btn btn-outline-primary rounded-5 btn-lg">
            <span class="fs-5 fw-bold">Book Now</span>
          </a>
        </div>
      </div>


      <div class="col-12 col-md-5 d-flex justify-content-center align-items-start" style ="margin-top: 400px;">
        <div id="carouselExampleSlidesOnly" class="carousel slide " data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="https://cache.cosmopolitan.fr/data/photo/w1200_h630_ci/66/rihanna.jpg" class="d-block mx-auto img-fluid rounded-5" alt="...">
            </div>
            <div class="carousel-item">
              <img src="https://www.thetimes.co.uk/imageserver/image/%2Fmethode%2Fsundaytimes%2Fprod%2Fweb%2Fbin%2Fc1e06da4-0060-11ee-91d8-175820cfdf88.jpg?crop=1600%2C900%2C0%2C0&resize=1200" class="d-block mx-auto img-fluid rounded-5" alt="...">
            </div>
            <div class="carousel-item">
              <img src="https://i0.wp.com/www.heyuguys.com/images/2017/01/Peter-Dinklage.jpg?fit=2400%2C1200&ssl=1" class="d-block mx-auto img-fluid rounded-5" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleSlidesOnly" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleSlidesOnly" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid d-flex flex-column justify-content-center align-items-center mt-5">
    <div class="d-flex justify-content-center align-items-start w-100">
      <div class="col-12 col-md-5 mb-4 me-4" style="margin-top: 100px;">
        <div class="text-center">
          <h2 class="fs-1 mb-2"><strong>Book</strong> your favorite celebrity, dead or alive.</h2>
          <h2 class="fs-1 mb-2"><strong>Browse</strong> our latest <strong>celebrity clones.</strong></h2>
          <p class="fs-17 text-muted mb-3">Spend a memorable time with the celebrity of your choice, just choose a date and time and we'll bring them to you. We have all the celebrities you can dream of in our inventory!</p>
          <a href="/celebrities" class="btn btn-outline-primary rounded-5 btn-lg">
            <span class="fs-5 fw-bold">Browse</span>
          </a>
        </div>
      </div>

      <div class="col-12 col-md-5 d-flex justify-content-center align-items-start" style ="margin-top: 400px;">
        <div id="carouselExampleSlidesOnly" class="carousel slide " data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="https://hips.hearstapps.com/hmg-prod/images/kendall-jenner-attends-the-2023-academy-museum-gala-at-news-photo-1701721154.jpg?crop=1xw:0.375xh;center,top" class="d-block mx-auto img-fluid rounded-5" alt="...">
            </div>
            <div class="carousel-item">
              <img src="https://esq.h-cdn.co/assets/16/09/1600x800/landscape-1457047366-morgan-lead.jpg" class="d-block mx-auto img-fluid rounded-5" alt="...">
            </div>
            <div class="carousel-item">
              <img src="https://www.terazmuzyka.pl/wp-content/uploads/news/ja/jacksparrow_1057.jpeg" class="d-block mx-auto img-fluid rounded-5" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleSlidesOnly" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleSlidesOnly" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
  </div>

   <footer style="padding-bottom: 50px; padding-top: 150px">
        <p>&copy; 2034 Rentastar. All rights reserved.</p>
    </footer>
</section>
